<div class="container2">
    <div>
        <div class="block" (click)="onCustomers()"><fa-icon [icon]="faUserTie"></fa-icon></div>
        <span class="desc">Customers</span>
    </div>
    <div>
        <div class="block" (click)="onEmployees()"><fa-icon [icon]="faUserFriends"></fa-icon></div>
        <span class="desc">Employees</span>
    </div>
    <div>
        <div class="block" (click)="onTrucks()"><fa-icon [icon]="faTruckMoving"></fa-icon></div>
        <span class="desc">Trucks</span>
    </div>
</div>