<div class="container2">
    <div class="wrap-login">
        <form action="">
            <span class="login-elem login-greet p-reg">Join Us</span>
            <input type="text" class="form-control input" name="fullName" id="fullName" placeholder="Full Name">
            <input type="email" class="form-control input" name="login" id="login" placeholder="Email">
            <input type="password" class="form-control input" name="pass" id="password" placeholder="Password">
            <input type="password" class="form-control input" name="passConf" id="passwordConf" placeholder="Confirm Password">
            <input type="submit" class="btn btn-primary btn-lg input" value="Register">
            <input type="button" routerLink="/login" class="btn btn-primary btn-back input" value="Go Back">
        </form>
    </div>
</div>
