.block{
    flex-direction: column;
}



mat-paginator{
    width:60vw;
    
}

.data {

	display: block;
	width: 95vw;
	overflow: auto;

	.table {
		width: 60vw;
		max-width: 100%;
		overflow: auto;
		margin-bottom: 10px;
		display: table;
		border-collapse: collapse;
        margin: auto;

		background-color: #fff;
	}
  
}
mat-paginator{
min-width: 900px;
margin:auto;
}
mat-cell{
	min-width: 100px;
	max-width: 100px;
    word-wrap: normal;
}