*{
    padding: 0;
    margin: 0;
}
body, html{
    height: 100%;
}
.limiter {
    width: 100%;
    margin: 0 auto;
}
.container2 {
    padding: 20px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f2f2f2;
    flex-direction: row;
}
.container3 {
    padding: 20px;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    background: #f2f2f2;
    flex-direction: column;
}

.disp-col{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.spinner-md{
    width: 25px;
    height: 25px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-row:hover {
    cursor: pointer;
    background-color: lightgrey;
  }

  .block{
    flex-direction: column;
}

.data {

	display: block;
	width: 95vw;
	overflow: auto;

	.table {
		width: 60vw;
		max-width: 100%;
		overflow: auto;
		margin-bottom: 10px;
		border-collapse: collapse;
        margin: auto;
		min-width: 900px;
		background-color: #fff;
	}
  
}
mat-paginator{
	width: 60vw;
	min-width: 900px;
	margin:auto;
}
mat-cell, mat-header-cell{
	min-width: 100px;
	//max-width: 100px;
    word-wrap: normal;
}
.welcome-txt{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 100px;
    margin-top: 20px;
}