*{
    padding: 0;
    margin: 0;
}
body, html{
    height: 100%;
}
.limiter {
    width: 100%;
    margin: 0 auto;
}
.container2 {
    padding: 20px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f2f2f2;
    flex-direction: row;
}
.container3 {
    padding: 20px;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    background: #f2f2f2;
    flex-direction: column;
}

.disp-col{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.spinner-md{
    width: 25px;
    height: 25px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-row:hover {
    cursor: pointer;
    background-color: lightgrey;
  }